.TabContent{
    width: 100%;
    background: #fff;
    position: relative;
}

.TabContent header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #cccccc4a;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
}

.TabContent header p {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.TabContent .search input{
    height: 30px;
    margin-right: 10px;
    width: 200px;
}

.TabContent .search button{
    height: 36px;
    background: #146ebe;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.TabContent> button{
    width: 140px;
    height: 40px;
    margin: 5px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #163ebebf;
}

.TabContent .search button:hover,
.TabContent > button:hover{
    opacity: 0.6;
}

.TabContent table{
    padding: 20px;
    width: 100%;
    text-align: left;
}

.TabContent .modalForm{
    width: 420px;
    padding: 10px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 10px 4px #333;
}

.TabContent .btnTab{
    display: flex;
    justify-content: center;
}

.TabContent .btnTab button{
    cursor: pointer;
    margin: 0 5px;
    height: 25px;
    width: 30px;
}